<!--剩下add和虛擬購物車-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title> Applicances </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="styles.css">

</head>

<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <div class="container">
        <div class="row">
            <p><h1>Applicances</h1></p>
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>origin</th>
                            <th>price</th>
                            <th>store</th>
                            <th> </th>
                        </tr>
                    </thead>
                    
                    <tbody>
                       {% for row in rows %}
                            <tr>
                            <td class="col-sm-3 col-md-3 text-center"><strong>{{ row[product_name] }} </strong></td>
                            <td class="col-sm-3 col-md-3 text-center"><strong>{{ row[origin] }} </strong></td>
                            <td class="col-sm-3 col-md-3 text-center"><strong>{{ row[price] }} </strong></td>
                            <td class="col-sm-3 col-md-3 text-center"><strong>{{ row[store] }} </strong></td>
                            <td class="col-sm-3 col-md-3" colspan='3'>
                                <form action="{{ url_for('add_product_to_cart') }}" method="POST">
                                    <input type="hidden" name="product_id" value="{{ row['product_id'] }}">
                                            <button type="submit" class="btn btn-success"> Add </button>
                                </form>
                            </td>          
                            </tr>
                        {% endfor %} 
                        
                            <tr>
                            <td class="col-4">
                            <form action="{{ url_for('product') }}">
                                <button type="submit" class="btn btn-secondary"> 回到主畫面 </button>
                            </form>
                            </td>
                            <td class="col-4">
                                <form action="{{ url_for('shoppingCart') }}">
                                    <button type="submit" class="btn btn-info"> 進入購物車 </button>
                                </form>
                            </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>  
</body>
</html>