{% extends "Shopping.html" %} 
{% block title %}
List Food 
{% endblock %} 
{% block content %} 
<h1> Food </h1>
        <table border="1px">
            <thead>
                <td><strong class = "item_name"> Name</strong></td>
                <td><strong class = "item_origin"> Origin</strong></td>
                <td><strong class = "item_saletime"> On sale</strong></td>
                <td><strong class = "item_offtime"> Off sale</strong></td>
                <td><strong class = "item_price"> Price</strong></td>
                <td><strong class = "item_amount"> Amount</strong></td>
                <td class = "item_buy" ></td>
            </thead>

            {% for row in rows %}
            <tr>
                <td>{{ row["Name"] }}</td>
                <td> {{ row["origin"]}}</td>
                <td>{{ row["release_data"] }}</td>
                <td>{{ row["off_date"] }}</td>
                <td>{{ row["price"] }}</td>
                <td>{{ row["amount"] }}</td>
                <td class = "item_buy">
                    <button>加入</button>
                </td>

            {% endfor %}
        </table>
        <button> 進入購物車 </button> <button> 返回Shopping頁面 </button>

{% endblock %}
