<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Food</title>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            th, td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
        </style>
    </head>
    <body>
        <h1>Product List</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>origin</th>
                <th>price</th>
                <th>amount</th>
                <th>    </th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ row["Name"] }}</td>
                    <td> {{ row["origin"]}}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["stores"] }}</td>
                    <td> <button>加入</button> </td>
                </tr>
            {% endfor %}
        </table>
        <button> 進入購物車 </button> <button> 返回Shopping頁面 </button>

    </body>
    </html>
</html>
