<head>
	<title>RUN團購</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
{% extends "layout.html" %}
{% block title %}
RUN團購 | Home
{% endblock %}
{% block content %}
<body>
    <h1>Welcome to RUN團購</h1>
        <ul>
            <li class="profile-link"><a href="profile.html"><img src="profile.jpg"></a></li>
            <li class="GroupAndShop-link">
                <div><a href="grouping.html">Grouping</a>
                    <a href="shopping.html">Shopping</a></div>
            </li>
        </ul>
</body>
{% endblock %}
