<!DOCTYPE html>
<html lang="en">

<head>
    <title> Others </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <div class="container">
        <div class="row">
            <p><h1>Others</h1></p>
            <div class="col-sm-12">
            {% if 'cart_item' in session %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>origin</th>
                            <th>price</th>
                            <th>store</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                    
         {% for key, value in session['cart_item'].items() %}
            {% set amount = session['cart_item'][key]['amount'] %}
            {% set price = session['cart_item'][key]['price'] %}
            {% set item_price = session['cart_item'][key]['total_price'] %} 
                        <tr>
                            <td class="col-sm-3 col-md-3 text-center"><strong>${{ Name }} </strong></td>
                            <td class="col-sm-3 col-md-3 text-center"><strong>${{ origin }} </strong></td>
                            <td class="col-sm-3 col-md-3 text-center"><strong>${{ price }} </strong></td>
                            <td class="col-sm-3 col-md-3 text-center"><strong>${{ store }} </strong></td>
                            <td class="col-sm-3 col-md-3" colspan='3'>
                                <a href="{{ url_for('.add_product_to_cart', product_id=session['cart_item'][key]['product_id']) }}" class="btn btn-success ">
                                    Add
                                </a>
                            </td>          
                        </tr>
            {% endfor %}
                        <tr>
                            <td class="col-4">
                            <button type="button" class="btn btn-secondary">
                                回到Shopping頁面
                            </button></td>
                            <td class="col-4">
                            <button type="button" class="btn btn-info">
                                進入購物車
                            </button></td>
                        </tr>
                    </tbody>
                </table>

         {% endif: %}
            </div>
        </div>
    </div> 
  
</body>
</html>