{% extends "shopping.html" %} 
{% block title %}
List Food 
{% endblock %} 
{% block content %}

<h1>Shopping Cart</h1> 
        <table border="1px">
            <thead>
                <td><strong class = "item_name"> Name</strong></td>
                <td><strong class = "item_stores"> Stores</strong></td>
                <td><strong class = "item_amount"> Amount</strong></td>
                <td><strong class = "item_edit"> Edit</strong></td>
            </thead>

            {% for row in rows %}
            <tr>
                <td>{{ row["Name"] }}</td>
                <td>{{ row["Stores"] }}</td>
                <td class = "item_amount">
                    <input type = 'number' step = '1' min = '0' max = '20'/>
                </td>
                <td class = "item_edit">
                    <button> Delete </button>
                </td>

            {% endfor %}
        </table>
        <button> 返回Shopping頁面 </button>
        <button> buy </button>  
{% endblock %}