<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        .total {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Shopping Cart</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Seller_id</th>
            <th>Amount</th>
            <th>Edit</th>
        </tr>
        {% for item in cart %}
            <tr>
                <td>{{ row["Name"] }}</td>
                <td>{{ row["seller_id"] }}</td>
                <td>
                    <input type = 'number' step = '1' min = '0' max = '20'/> 
                </td>
                <td>
                    <button> Delete </button>
                </td>
            </tr>
        {% endfor %}>
    </table>
</body>
</html>