<!DOCTYPE html>
<html>

<head>
    <title> Shopping_cart </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <div class="container">
            <div class="row">
                <p><h1>Shopping Cart</h1></p>
                <div class="col-sm-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product_Name</th>
                                <th>Price</th>
                                <th>Product_id</th>
                                <th>Amount</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                         {% if 'cart_item' in session %}
                         {% for key, value in session['cart_item'].items() %}
                         {% set product_name = session['cart_item'][key]['name'] %}
                         {% set price = session['cart_item'][key]['price'] %}
                         {% set product_id = session['cart_item'][key]['product_id'] %}
                         <tr>
                            <td class="col-sm-3 col-md-3 text-center"><strong>{{ product_name }} </strong></td>
                            <td class="col-sm-3 col-md-3 text-center"><strong>{{ price }} </strong></td>
                            <td class="col-sm-3 col-md-3 text-center"><strong>{{ product_id }} </strong></td>
                            <td class="col-sm-3 col-md-3" style="text-align: center">
                                <input type="email" class="form-control" value="{{ quantity }}">
                            </td>
                            <!-- <td calss="col-sm-3 col-md-3"> <input type = 'number' step = '1' min = '0' max = '20'/> </td> -->
                            <td class="col-sm-3 col-md-3">                              
                                <a href = "{{ url_for('delete_product', product_id = session['cart_item'][key]['product_id']) }}" button type="submit" class="btn btn-danger">
                                   Delete
                                </a>
                                <!-- <form action="/delete" method="POST">
                                    <input type="hidden" name="product_id" value="{{ product_id }}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form> -->
                                 
                            </td>          
                        </tr>
                        {% endfor %}
                        {% endif %}
                        <tr>
                            <td class="col-4">
                                <form action="/buy" method="POST">
                                    <button type="submit" class="btn btn-info"> Add </button>
                                </form>
                            </td> 
                            <td class="col-4">
                                <form action="{{ url_for('product') }}">
                                    <button type="submit" class="btn btn-secondary"> 回到主畫面 </button>
                                </form>
                            </td>
                        </tr>
                        
                    </tbody>
                    </table>
                </div>
            </div>
        </div> 
      
</body>
</html>

